/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(90deg);
  }
  to{
    transform: rotate(450deg);
  }
}

@keyframes newSpin {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

/* GRID STYLING */

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
  background-color: #181818;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: normal;
}

p {
  opacity: 0.5;
  margin-bottom: 30px;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: 4s;
}

/* SPINNING CIRCLE */

.leo-border-1 {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin3D 1.8s linear 0s infinite;
}

.leo-core-1 {
  width: 100%;
  height: 100%;
  background-color: #37474faa;
  border-radius: 50%;
}

.leo-border-2 {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(255, 171, 145,0.1) 33%, rgba(255, 171, 145,1) 100%);
  animation: spin3D 2.2s linear 0s infinite;
}

.leo-core-2 {
  width: 100%;
  height: 100%;
  background-color: #ffab91aa;
  border-radius: 50%;
}

/* ALTERNATING ORBITS */

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #37474f;
  border-radius: 50%;
}

/* X-ROTATING BOXES */

.configure-border-1 {
  width: 115px;
  height: 115px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffab91;
  animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
  width: 115px;
  height: 115px;
  padding: 3px;
  left: -115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63,249,220);
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
  width: 100%;
  height: 100%;
  background-color: #37474f;
}

/* PULSE BUBBLES */

.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3ff9dc;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

/* SOLAR SYSTEM */

.solar-system {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.orbit {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ffffff44;
  border-radius: 50%;
  transition: 4s ease, border 200ms;
}

.orbit:hover {
  
}

.view-buttons {
  display: flex;
}

.info {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
  width: 400px;
  z-index: 200;
}

.neptune-orbit {
	width: 720px;
  height: 720px;
  -webkit-animation: spin 824s linear 0s infinite;
}

.uranus-orbit {
	width: 640px;
  height: 640px;
  z-index: 200;
  -webkit-animation: spin 420s linear 0s infinite;
}

.saturn-orbit {
	width: 560px;
  height: 560px;
  -webkit-animation: spin 147.5s linear 0s infinite;
}

.jupiter-orbit {
	width: 480px;
	height: 480px;
  -webkit-animation: spin 59.5s linear 0s infinite;
}

.mars-orbit {
	width: 400px;
	height: 400px;
  -webkit-animation: spin 9.5s linear 0s infinite;
}

.earth-orbit {
	width: 320px;
	height: 320px;
  -webkit-animation: spin 5s linear 0s infinite;
}

.venus-orbit {
	width: 240px;
	height: 240px;
  -webkit-animation: spin 3s linear 0s infinite;
}

.mercury-orbit {
  width: 160px;
	height: 160px;
  -webkit-animation: spin 1s linear 0s infinite;
}

.planet {
	position: absolute;
	top: -3px;
  width: 5px;
  height: 5px;
	border-radius: 50%;
  background-color: #3ff9dc;
  box-shadow: '0px 0px 20px 20px #3ff9dc37';
}

.mercury {
  width: 1px;
  height: 1px;
  top: -1px;
}

.venus {
  width: 2px;
  height: 2px;
  top: -1px;
}

.earth {
  width: 4px;
  height: 4px;
  top: -3px;
}

.mars {
  width: 2px;
  height: 2px;
  top: -1px;
}

.jupiter {
  width: 22px;
  height: 22px;
  top: -11px;
}

.saturn {
  width: 18px;
  height: 18px;
  top: -9px;
}

.uranus {
  width: 8px;
  height: 8px;
  top: -4px;
}

.neptune {
  width: 7px;
  height: 7px;
  top: -4px;
}

.sun {
	width: 80px;
	height: 80px;
	border-radius: 100%;
  background-color: #ffab91;
  transition: 4s, box-shadow 200ms;
}

.sun:hover {
  box-shadow: 0px 0px 10px 10px #ffab9137;
}

.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.blue-orbit {
	width: 165px;
	height: 165px;
  border: 1px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
	width: 120px;
	height: 120px;
  border: 1px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
	width: 90px;
	height: 90px;
  border: 1px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
	width: 60px;
	height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg)
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg)
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg)
}

.button {
  border: solid #ffffff44 1px;
  background: #ffffff00;
  height: 54px;
  width: 150px;
  color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 54px;
  margin-bottom: 15px;
  transition: 300ms;
  margin-right: 20px;
}

.button:hover {
  cursor: pointer;
  border: solid white 1px;
}

